<section class="contact">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="section-title">Contact us</h2>
				<p  class="section-subtitle font-opacity text-center">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
			</div>
		</div>
		<div class="row contact-info"">

			<div class="col-12 col-lg-6">
				<div class="row justify-content-left" >

					<div class="col-12 col-md-6">
						<h3 class="contact-title">Address</h3>

						<h4 class="contact-address-title font-opacity">Acrostia</h4>
						<p>Sevenoaks Rd Sevenoa</p>
						<p>Sevenoaks TN14 7HR, UK</p>

						<div class=" row contact-address-text">
							<div class="col-4 font-opacity">
								<p>Phone</p>
								<p>Fax</p>
								<p>E-mail</p>
								<p>Skype</p>
							</div>
							<div class="col-8">
								<p>+44 555 555 555</p>
								<p>+44 556 555 555</p>
								<p><a href="#">info@acrostia.com</a></p>
								<p><a href="#">Ac0stia</a></p>
							</div>
						</div>

					</div>
					<div class="col-12 col-md-6">
						<div id="map"></div>
					</div>
				</div>
					
			</div>
			<div class="col-12 col-lg-6">
				<h3 class="contact-title">Ask a question</h3>
				<form class="contact-form text-center">
					<div class="row">
						<div class="col-6"><input class="contact-form__name" type="name" placeholder="Name"></div>
						<div class="col-6"><input class="contact-form__email" type="email"  placeholder="Email"></div>
					</div>			
					
					<textarea class="contact-form__text" name="question" id=""  placeholder="Your question"></textarea>
					
					<a href="#" class="cta-button">Send</a>

				</form>
			</div>
		</div>
			

	</div>
		
</section>