<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acnostia</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body>
	<header class="acnostia-header">
		<div class="container">
			<div class="row">
				<div class="header-logo col-2">
					<a>acrostia</a>
				</div>
				<div class="header-nav col-10 ">
					<ul class="header-nav__list">
						<li class="header-nav__list-item "><a class="active" href="#home">Home</a></li>
						<li class="header-nav__list-item"><a href="#services">Services</a></li>
						<li class="header-nav__list-item "><a class="" href="#about">About</a></li>
						<li class="header-nav__list-item"><a href="#work">Work</a></li>
						<li class="header-nav__list-item"><a href="#contacts">Contacts</a></li>
					</ul>
				</div>

			</div>

			<div class="row header-slider">
				<div class="header-slider-wrapper col-12">
					
					<div class="header-slider-item">
						<div class="header-slider__slide header-slide1">
							<div class="thin-font"><span>GOOD IDEAS</span><br><span>comes</span></div>
							<div class="bold-font">first!</div>
						</div>
						<div class="header-slider__slide header-slide1">
							<div class="thin-font"><span>GOOD IDEAS</span><br><span>comes</span></div>
							<div class="bold-font">first!</div>
						</div>
						<div class="header-slider__slide header-slide1">
							<div class="thin-font"><span>GOOD IDEAS</span><br><span>comes</span></div>
							<div class="bold-font">first!</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		

	</header>


