<section class="work">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="section-title">Our work</h2>
				<p  class="section-subtitle font-opacity">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
			</div>
		</div>
		<div class="row justify-content-between align-items-center work-portfolio-row">
			<p class="work-portfolio-title">portfolio</p>
			<div class="work-portfolio__selectors ">
				<ul class="list-unstyled">
					<li class="work-portfolio__selectors-btn list-inline-item selector-btn--active" ><a data-filter="*"  href="#">All</a></li>
					<li class="work-portfolio__selectors-btn list-inline-item " ><a data-filter=".photo" href="#">Photography</a></li>
					<li class="work-portfolio__selectors-btn list-inline-item " ><a data-filter=".logo" href="#">Logo design</a></li>
					<li class="work-portfolio__selectors-btn list-inline-item " ><a data-filter=".web" href="#"> Web design</a></li>
				</ul>
			</div>

		</div>
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-12 work-portfolio__img-wrapper text-center justify-content-center">
				<div class="work-portfolio__img">
					
					<div class="work-portfolio__img__item logo">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio1.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>
					<div class="work-portfolio__img__item masonry-sizer"></div>
					<div class="work-portfolio__img__item photo">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio2.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

					<div class="work-portfolio__img__item photo">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio3.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

					<div class="work-portfolio__img__item logo web">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio4.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

					<div class="work-portfolio__img__item photo web">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio5.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

					<div class="work-portfolio__img__item logo">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio6.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

					<div class="work-portfolio__img__item photo web">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio7.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

					<div class="work-portfolio__img__item web">
						<div class="work-portfolio__img__item-pict">
							<img src="img/portfolio8.jpg" alt="">
						<div class="work-portfolio__img__item-hover">
							<p>+</p>
						</div>
						</div>
						<div class="work-portfolio__img__item-text">
							<p>Aenean a elit</p>
						</div>
					</div>

				</div>

			</div>
		</div>


	</div>
</section>