footer {
background-color: #68a097;
//min-height: 150px;
}
.footer-social {
	 min-height: 150px;
	a {
			display: inline-block;
			height: 62px;
			width: 62px;
			border-radius: 50%;
			background-color: #82c8bd;
			font-size: 30px;
			line-height: 62px;
			color: #fff;

			&:nth-child(1):hover {
				background-color: #4f689e;
			}
			&:nth-child(2):hover {
				background-color: #74c7d5;
			}
			&:nth-child(3):hover {
				background-color: #df5c64;
			}
			&:nth-child(4):hover {
				background-color: #3e61af;
			}

			&:not(:last-child) {
				margin-right: 40px;
			}
		}
}
